WPFTheWeakestRival/Connected Services/WildcardService/WildcardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WildcardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IWildcardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/wildcards/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/wildcards/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
      <xsd:import schemaLocation="http://localhost:8082/wildcards/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWildcardService_ListWildcardTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListWildcardTypes" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_ListWildcardTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListWildcardTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_ListWildcardTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_GetPlayerWildcards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerWildcards" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_GetPlayerWildcards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerWildcardsResponse" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_GetPlayerWildcards_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_UseWildcard_InputMessage">
    <wsdl:part name="parameters" element="tns:UseWildcard" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_UseWildcard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseWildcardResponse" />
  </wsdl:message>
  <wsdl:message name="IWildcardService_UseWildcard_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IWildcardService">
    <wsdl:operation name="ListWildcardTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWildcardService/ListWildcardTypes" message="tns:IWildcardService_ListWildcardTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWildcardService/ListWildcardTypesResponse" message="tns:IWildcardService_ListWildcardTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWildcardService/ListWildcardTypesServiceFaultFault" name="ServiceFaultFault" message="tns:IWildcardService_ListWildcardTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerWildcards">
      <wsdl:input wsaw:Action="http://tempuri.org/IWildcardService/GetPlayerWildcards" message="tns:IWildcardService_GetPlayerWildcards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWildcardService/GetPlayerWildcardsResponse" message="tns:IWildcardService_GetPlayerWildcards_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWildcardService/GetPlayerWildcardsServiceFaultFault" name="ServiceFaultFault" message="tns:IWildcardService_GetPlayerWildcards_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseWildcard">
      <wsdl:input wsaw:Action="http://tempuri.org/IWildcardService/UseWildcard" message="tns:IWildcardService_UseWildcard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWildcardService/UseWildcardResponse" message="tns:IWildcardService_UseWildcard_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWildcardService/UseWildcardServiceFaultFault" name="ServiceFaultFault" message="tns:IWildcardService_UseWildcard_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IWildcardService" type="tns:IWildcardService">
    <wsp:PolicyReference URI="#WSHttpBinding_IWildcardService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListWildcardTypes">
      <soap12:operation soapAction="http://tempuri.org/IWildcardService/ListWildcardTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerWildcards">
      <soap12:operation soapAction="http://tempuri.org/IWildcardService/GetPlayerWildcards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UseWildcard">
      <soap12:operation soapAction="http://tempuri.org/IWildcardService/UseWildcard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WildcardService">
    <wsdl:port name="WSHttpBinding_IWildcardService" binding="tns:WSHttpBinding_IWildcardService">
      <soap12:address location="http://localhost:8082/wildcards/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8082/wildcards/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>