WPFTheWeakestRival/Connected Services/FriendService/FriendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IFriendService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/friends/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/friends/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
      <xsd:import schemaLocation="http://localhost:8082/friends/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/friends/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendFriendRequest_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendService_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_AcceptFriendRequest_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RejectFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RejectFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RejectFriendRequest_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RemoveFriend_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_ListFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendService_ListFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_ListFriends_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SearchAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAccounts" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SearchAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SearchAccounts_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_PresenceHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:PresenceHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IFriendService_PresenceHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:PresenceHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_PresenceHeartbeat_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendsPresence_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsPresence" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendsPresence_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsPresenceResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendsPresence_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetAccountsByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByIds" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetAccountsByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetAccountsByIds_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetProfileImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileImage" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetProfileImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileImageResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetProfileImage_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendLobbyInviteEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLobbyInviteEmail" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendLobbyInviteEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLobbyInviteEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendLobbyInviteEmail_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IFriendService">
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/SendFriendRequest" message="tns:IFriendService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/SendFriendRequestResponse" message="tns:IFriendService_SendFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/SendFriendRequestServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_SendFriendRequest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/AcceptFriendRequest" message="tns:IFriendService_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/AcceptFriendRequestResponse" message="tns:IFriendService_AcceptFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/AcceptFriendRequestServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_AcceptFriendRequest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/RejectFriendRequest" message="tns:IFriendService_RejectFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/RejectFriendRequestResponse" message="tns:IFriendService_RejectFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/RejectFriendRequestServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_RejectFriendRequest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/RemoveFriend" message="tns:IFriendService_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/RemoveFriendResponse" message="tns:IFriendService_RemoveFriend_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/RemoveFriendServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_RemoveFriend_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/ListFriends" message="tns:IFriendService_ListFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/ListFriendsResponse" message="tns:IFriendService_ListFriends_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/ListFriendsServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_ListFriends_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/SearchAccounts" message="tns:IFriendService_SearchAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/SearchAccountsResponse" message="tns:IFriendService_SearchAccounts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/SearchAccountsServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_SearchAccounts_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PresenceHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/PresenceHeartbeat" message="tns:IFriendService_PresenceHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/PresenceHeartbeatResponse" message="tns:IFriendService_PresenceHeartbeat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/PresenceHeartbeatServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_PresenceHeartbeat_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsPresence">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/GetFriendsPresence" message="tns:IFriendService_GetFriendsPresence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/GetFriendsPresenceResponse" message="tns:IFriendService_GetFriendsPresence_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/GetFriendsPresenceServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_GetFriendsPresence_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/GetAccountsByIds" message="tns:IFriendService_GetAccountsByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/GetAccountsByIdsResponse" message="tns:IFriendService_GetAccountsByIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/GetAccountsByIdsServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_GetAccountsByIds_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/GetProfileImage" message="tns:IFriendService_GetProfileImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/GetProfileImageResponse" message="tns:IFriendService_GetProfileImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/GetProfileImageServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_GetProfileImage_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLobbyInviteEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/SendLobbyInviteEmail" message="tns:IFriendService_SendLobbyInviteEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/SendLobbyInviteEmailResponse" message="tns:IFriendService_SendLobbyInviteEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/SendLobbyInviteEmailServiceFaultFault" name="ServiceFaultFault" message="tns:IFriendService_SendLobbyInviteEmail_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IFriendService" type="tns:IFriendService">
    <wsp:PolicyReference URI="#WSHttpBinding_IFriendService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/RejectFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/ListFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchAccounts">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/SearchAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PresenceHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/PresenceHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsPresence">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/GetFriendsPresence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByIds">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/GetAccountsByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProfileImage">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/GetProfileImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendLobbyInviteEmail">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/SendLobbyInviteEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendService">
    <wsdl:port name="WSHttpBinding_IFriendService" binding="tns:WSHttpBinding_IFriendService">
      <soap12:address location="http://localhost:8082/friends/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8082/friends/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>