WPFTheWeakestRival/Connected Services/LobbyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/lobby/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="JoinLobbyRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="LobbyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyRequest" nillable="true" type="tns:JoinLobbyRequest" />
  <xs:complexType name="JoinLobbyResponse">
    <xs:sequence>
      <xs:element name="Lobby" nillable="true" type="tns:LobbyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyResponse" nillable="true" type="tns:JoinLobbyResponse" />
  <xs:complexType name="LobbyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyId" type="ser:guid" />
      <xs:element minOccurs="0" name="LobbyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfAccountMini" />
      <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyInfo" nillable="true" type="tns:LobbyInfo" />
  <xs:complexType name="ArrayOfAccountMini">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountMini" nillable="true" type="tns:AccountMini" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountMini" nillable="true" type="tns:ArrayOfAccountMini" />
  <xs:complexType name="AccountMini">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="tns:AvatarAppearanceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountMini" nillable="true" type="tns:AccountMini" />
  <xs:complexType name="AvatarAppearanceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyColor" type="tns:AvatarBodyColor" />
      <xs:element minOccurs="0" name="PantsColor" type="tns:AvatarPantsColor" />
      <xs:element minOccurs="0" name="HatType" type="tns:AvatarHatType" />
      <xs:element minOccurs="0" name="HatColor" type="tns:AvatarHatColor" />
      <xs:element minOccurs="0" name="FaceType" type="tns:AvatarFaceType" />
      <xs:element minOccurs="0" name="UseProfilePhotoAsFace" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarAppearanceDto" nillable="true" type="tns:AvatarAppearanceDto" />
  <xs:simpleType name="AvatarBodyColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Red" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Purple" />
      <xs:enumeration value="Gray" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarBodyColor" nillable="true" type="tns:AvatarBodyColor" />
  <xs:simpleType name="AvatarPantsColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Black" />
      <xs:enumeration value="DarkGray" />
      <xs:enumeration value="BlueJeans" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarPantsColor" nillable="true" type="tns:AvatarPantsColor" />
  <xs:simpleType name="AvatarHatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Cap" />
      <xs:enumeration value="TopHat" />
      <xs:enumeration value="Beanie" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarHatType" nillable="true" type="tns:AvatarHatType" />
  <xs:simpleType name="AvatarHatColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Red" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarHatColor" nillable="true" type="tns:AvatarHatColor" />
  <xs:simpleType name="AvatarFaceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Angry" />
      <xs:enumeration value="Happy" />
      <xs:enumeration value="Sleepy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarFaceType" nillable="true" type="tns:AvatarFaceType" />
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="LeaveLobbyRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="LobbyId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaveLobbyRequest" nillable="true" type="tns:LeaveLobbyRequest" />
  <xs:complexType name="ListLobbiesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Top" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListLobbiesRequest" nillable="true" type="tns:ListLobbiesRequest" />
  <xs:complexType name="ListLobbiesResponse">
    <xs:sequence>
      <xs:element name="Lobbies" nillable="true" type="tns:ArrayOfLobbyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListLobbiesResponse" nillable="true" type="tns:ListLobbiesResponse" />
  <xs:complexType name="ArrayOfLobbyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyInfo" nillable="true" type="tns:LobbyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyInfo" nillable="true" type="tns:ArrayOfLobbyInfo" />
  <xs:complexType name="SendLobbyMessageRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="LobbyId" type="ser:guid" />
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendLobbyMessageRequest" nillable="true" type="tns:SendLobbyMessageRequest" />
  <xs:complexType name="UpdateAccountResponse">
    <xs:sequence>
      <xs:element name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageUrl" nillable="true" type="xs:string" />
      <xs:element name="CreatedAtUtc" type="xs:dateTime" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="tns:AvatarAppearanceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAccountResponse" nillable="true" type="tns:UpdateAccountResponse" />
  <xs:complexType name="UpdateAccountRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAccountRequest" nillable="true" type="tns:UpdateAccountRequest" />
  <xs:complexType name="CreateLobbyRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateLobbyRequest" nillable="true" type="tns:CreateLobbyRequest" />
  <xs:complexType name="CreateLobbyResponse">
    <xs:sequence>
      <xs:element name="Lobby" nillable="true" type="tns:LobbyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateLobbyResponse" nillable="true" type="tns:CreateLobbyResponse" />
  <xs:complexType name="JoinByCodeRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="AccessCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinByCodeRequest" nillable="true" type="tns:JoinByCodeRequest" />
  <xs:complexType name="JoinByCodeResponse">
    <xs:sequence>
      <xs:element name="Lobby" nillable="true" type="tns:LobbyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinByCodeResponse" nillable="true" type="tns:JoinByCodeResponse" />
  <xs:complexType name="StartLobbyMatchRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Config" nillable="true" type="tns:MatchConfigDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartLobbyMatchRequest" nillable="true" type="tns:StartLobbyMatchRequest" />
  <xs:complexType name="MatchConfigDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="StartingScore" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaxScore" type="xs:decimal" />
      <xs:element minOccurs="0" name="PointsPerCorrect" type="xs:decimal" />
      <xs:element minOccurs="0" name="PointsPerWrong" type="xs:decimal" />
      <xs:element minOccurs="0" name="PointsPerEliminationGain" type="xs:decimal" />
      <xs:element minOccurs="0" name="AllowTiebreakCoinflip" type="xs:boolean" />
      <xs:element minOccurs="0" name="DifficultyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CharacterCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchConfigDto" nillable="true" type="tns:MatchConfigDto" />
  <xs:complexType name="StartLobbyMatchResponse">
    <xs:sequence>
      <xs:element name="Match" nillable="true" type="tns:MatchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartLobbyMatchResponse" nillable="true" type="tns:StartLobbyMatchResponse" />
  <xs:complexType name="MatchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchId" type="ser:guid" />
      <xs:element minOccurs="0" name="MatchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchDbId" type="xs:int" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerSummary" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Config" nillable="true" type="tns:MatchConfigDto">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchInfo" nillable="true" type="tns:MatchInfo" />
  <xs:complexType name="ArrayOfPlayerSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerSummary" nillable="true" type="tns:PlayerSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerSummary" nillable="true" type="tns:ArrayOfPlayerSummary" />
  <xs:complexType name="PlayerSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="tns:AvatarAppearanceDto">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerSummary" nillable="true" type="tns:PlayerSummary" />
  <xs:complexType name="UpdateAvatarRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FaceType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="HatColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="HatType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PantsColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseProfilePhotoAsFace" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAvatarRequest" nillable="true" type="tns:UpdateAvatarRequest" />
  <xs:complexType name="ChatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromPlayerId" type="ser:guid" />
      <xs:element minOccurs="0" name="FromPlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentAtUtc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMessage" nillable="true" type="tns:ChatMessage" />
  <xs:complexType name="ForcedLogoutNotification">
    <xs:sequence>
      <xs:element name="SanctionType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SanctionEndAtUtc" nillable="true" type="xs:dateTime" />
      <xs:element name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForcedLogoutNotification" nillable="true" type="tns:ForcedLogoutNotification" />
</xs:schema>