WPFTheWeakestRival/Connected Services/LobbyService/LobbyService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.10.2:8082/lobby/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.10.2:8082/lobby/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
      <xsd:import schemaLocation="http://172.20.10.2:8082/lobby/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_ListLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:ListLobbies" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_ListLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_ListLobbies_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessage" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendChatMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendChatMessage_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetMyProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyProfile" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetMyProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetMyProfile_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateAccount_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateLobby_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinByCode" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinByCode_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartLobbyMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartLobbyMatch" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartLobbyMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartLobbyMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartLobbyMatch_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAvatar" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnLobbyUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLobbyUpdated" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnChatMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnChatMessageReceived" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnMatchStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchStarted" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_ForcedLogout_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForcedLogout" />
  </wsdl:message>
  <wsdl:portType name="ILobbyService">
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/JoinLobby" message="tns:ILobbyService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/JoinLobbyResponse" message="tns:ILobbyService_JoinLobby_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/JoinLobbyServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_JoinLobby_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobby" message="tns:ILobbyService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobbyResponse" message="tns:ILobbyService_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/ListLobbies" message="tns:ILobbyService_ListLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/ListLobbiesResponse" message="tns:ILobbyService_ListLobbies_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/ListLobbiesServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_ListLobbies_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SendChatMessage" message="tns:ILobbyService_SendChatMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/SendChatMessageResponse" message="tns:ILobbyService_SendChatMessage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/SendChatMessageServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_SendChatMessage_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetMyProfile" message="tns:ILobbyService_GetMyProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetMyProfileResponse" message="tns:ILobbyService_GetMyProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/GetMyProfileServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_GetMyProfile_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/UpdateAccount" message="tns:ILobbyService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/UpdateAccountResponse" message="tns:ILobbyService_UpdateAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/UpdateAccountServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_UpdateAccount_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/CreateLobby" message="tns:ILobbyService_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/CreateLobbyResponse" message="tns:ILobbyService_CreateLobby_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/CreateLobbyServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_CreateLobby_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/JoinByCode" message="tns:ILobbyService_JoinByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/JoinByCodeResponse" message="tns:ILobbyService_JoinByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/JoinByCodeServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_JoinByCode_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartLobbyMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/StartLobbyMatch" message="tns:ILobbyService_StartLobbyMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/StartLobbyMatchResponse" message="tns:ILobbyService_StartLobbyMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/StartLobbyMatchServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_StartLobbyMatch_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/UpdateAvatar" message="tns:ILobbyService_UpdateAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/UpdateAvatarResponse" message="tns:ILobbyService_UpdateAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLobbyUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnLobbyUpdated" message="tns:ILobbyService_OnLobbyUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnPlayerJoined" message="tns:ILobbyService_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnPlayerLeft" message="tns:ILobbyService_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnChatMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnChatMessageReceived" message="tns:ILobbyService_OnChatMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnMatchStarted" message="tns:ILobbyService_OnMatchStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForcedLogout">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/ForcedLogout" message="tns:ILobbyService_ForcedLogout_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyService" type="tns:ILobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="JoinLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/JoinLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListLobbies">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/ListLobbies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMyProfile">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/GetMyProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinByCode">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/JoinByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartLobbyMatch">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/StartLobbyMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAvatar">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/UpdateAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLobbyUpdated">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnLobbyUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnChatMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnChatMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnMatchStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForcedLogout">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/ForcedLogout" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyService">
    <wsdl:port name="NetTcpBinding_ILobbyService" binding="tns:NetTcpBinding_ILobbyService">
      <soap12:address location="net.tcp://172.20.10.2:8092/lobby/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.20.10.2:8092/lobby/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>