WPFTheWeakestRival/Connected Services/AuthService/AuthService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAuthService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.11.2.232:8082/auth/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.11.2.232:8082/auth/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.11.2.232:8082/auth/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_BeginRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginRegister" />
  </wsdl:message>
  <wsdl:message name="IAuthService_BeginRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_BeginRegister_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CompleteRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteRegister" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CompleteRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CompleteRegister_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_BeginPasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginPasswordReset" />
  </wsdl:message>
  <wsdl:message name="IAuthService_BeginPasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CompletePasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:CompletePasswordReset" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CompletePasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompletePasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetProfileImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileImage" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetProfileImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileImageResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetProfileImage_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Ping" message="tns:IAuthService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/PingResponse" message="tns:IAuthService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/BeginRegister" message="tns:IAuthService_BeginRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/BeginRegisterResponse" message="tns:IAuthService_BeginRegister_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthService/BeginRegisterServiceFaultFault" name="ServiceFaultFault" message="tns:IAuthService_BeginRegister_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/CompleteRegister" message="tns:IAuthService_CompleteRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/CompleteRegisterResponse" message="tns:IAuthService_CompleteRegister_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthService/CompleteRegisterServiceFaultFault" name="ServiceFaultFault" message="tns:IAuthService_CompleteRegister_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Register" message="tns:IAuthService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterResponse" message="tns:IAuthService_Register_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthService/RegisterServiceFaultFault" name="ServiceFaultFault" message="tns:IAuthService_Register_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Login" message="tns:IAuthService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/LoginResponse" message="tns:IAuthService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthService/LoginServiceFaultFault" name="ServiceFaultFault" message="tns:IAuthService_Login_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Logout" message="tns:IAuthService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/LogoutResponse" message="tns:IAuthService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginPasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/BeginPasswordReset" message="tns:IAuthService_BeginPasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/BeginPasswordResetResponse" message="tns:IAuthService_BeginPasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompletePasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/CompletePasswordReset" message="tns:IAuthService_CompletePasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/CompletePasswordResetResponse" message="tns:IAuthService_CompletePasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetProfileImage" message="tns:IAuthService_GetProfileImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetProfileImageResponse" message="tns:IAuthService_GetProfileImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthService/GetProfileImageServiceFaultFault" name="ServiceFaultFault" message="tns:IAuthService_GetProfileImage_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAuthService" type="tns:IAuthService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAuthService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginRegister">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/BeginRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CompleteRegister">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/CompleteRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginPasswordReset">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/BeginPasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletePasswordReset">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/CompletePasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileImage">
      <soap12:operation soapAction="http://tempuri.org/IAuthService/GetProfileImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="WSHttpBinding_IAuthService" binding="tns:WSHttpBinding_IAuthService">
      <soap12:address location="http://10.11.2.232:8082/auth/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.11.2.232:8082/auth/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>