WPFTheWeakestRival/Connected Services/AuthService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PingRequest">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PingRequest" nillable="true" type="tns:PingRequest" />
  <xs:complexType name="PingResponse">
    <xs:sequence>
      <xs:element name="Echo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Utc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PingResponse" nillable="true" type="tns:PingResponse" />
  <xs:complexType name="BeginRegisterRequest">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginRegisterRequest" nillable="true" type="tns:BeginRegisterRequest" />
  <xs:complexType name="BeginRegisterResponse">
    <xs:sequence>
      <xs:element name="ExpiresAtUtc" type="xs:dateTime" />
      <xs:element name="ResendAfterSeconds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginRegisterResponse" nillable="true" type="tns:BeginRegisterResponse" />
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="CompleteRegisterRequest">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProfileImageContentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompleteRegisterRequest" nillable="true" type="tns:CompleteRegisterRequest" />
  <xs:complexType name="RegisterResponse">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="tns:AuthToken" />
      <xs:element name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResponse" nillable="true" type="tns:RegisterResponse" />
  <xs:complexType name="AuthToken">
    <xs:sequence>
      <xs:element name="UserId" type="xs:int" />
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="ExpiresAtUtc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthToken" nillable="true" type="tns:AuthToken" />
  <xs:complexType name="RegisterRequest">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProfileImageContentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterRequest" nillable="true" type="tns:RegisterRequest" />
  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="tns:AuthToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="LogoutRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogoutRequest" nillable="true" type="tns:LogoutRequest" />
  <xs:complexType name="BeginPasswordResetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginPasswordResetRequest" nillable="true" type="tns:BeginPasswordResetRequest" />
  <xs:complexType name="BeginPasswordResetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiresAtUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResendAfterSeconds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginPasswordResetResponse" nillable="true" type="tns:BeginPasswordResetResponse" />
  <xs:complexType name="CompletePasswordResetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletePasswordResetRequest" nillable="true" type="tns:CompletePasswordResetRequest" />
  <xs:complexType name="GetProfileImageRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProfileImageRequest" nillable="true" type="tns:GetProfileImageRequest" />
  <xs:complexType name="GetProfileImageResponse">
    <xs:sequence>
      <xs:element name="UserId" type="xs:int" />
      <xs:element name="HasImage" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UpdatedAtUtc" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProfileImageResponse" nillable="true" type="tns:GetProfileImageResponse" />
</xs:schema>