WPFTheWeakestRival/Connected Services/MatchmakingService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/matchmaking/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
  <xs:import schemaLocation="http://localhost:8082/matchmaking/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q1:CreateMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="CreateMatchResult" nillable="true" type="q2:CreateMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q3:JoinMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="JoinMatchResult" nillable="true" type="q4:JoinMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q5:LeaveMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q6:StartMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="StartMatchResult" nillable="true" type="q7:StartMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOpenMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q8:ListOpenMatchesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOpenMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="ListOpenMatchesResult" nillable="true" type="q9:ListOpenMatchesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="match" nillable="true" type="q10:MatchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchPlayerJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="player" nillable="true" type="q12:PlayerSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchPlayerLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="match" nillable="true" type="q15:MatchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchCancelled">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q16:guid" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>