WPFTheWeakestRival/Connected Services/GameplayService/GameplayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameplayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IGameplayService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
      <xsd:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TheWeakestRival.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameplayService_SubmitAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnswer" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_SubmitAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_Bank_InputMessage">
    <wsdl:part name="parameters" element="tns:Bank" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_Bank_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_UseLifeline_InputMessage">
    <wsdl:part name="parameters" element="tns:UseLifeline" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_UseLifeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseLifelineResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_CastVote_InputMessage">
    <wsdl:part name="parameters" element="tns:CastVote" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_CastVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CastVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_AckEventSeen_InputMessage">
    <wsdl:part name="parameters" element="tns:AckEventSeen" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_AckEventSeen_OutputMessage">
    <wsdl:part name="parameters" element="tns:AckEventSeenResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_JoinMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatch" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_JoinMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_StartMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMatch" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_StartMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_ChooseDuelOpponent_InputMessage">
    <wsdl:part name="parameters" element="tns:ChooseDuelOpponent" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_ChooseDuelOpponent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChooseDuelOpponentResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnNextQuestion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNextQuestion" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnAnswerEvaluated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnAnswerEvaluated" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnBankUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnBankUpdated" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnVotePhaseStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnVotePhaseStarted" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnElimination_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnElimination" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnSpecialEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSpecialEvent" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnCoinFlipResolved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCoinFlipResolved" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnDuelCandidates_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDuelCandidates" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnMatchFinished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchFinished" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnLightningChallengeStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLightningChallengeStarted" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnLightningChallengeQuestion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLightningChallengeQuestion" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnLightningChallengeFinished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLightningChallengeFinished" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnTurnOrderInitialized_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTurnOrderInitialized" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnTurnOrderChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTurnOrderChanged" />
  </wsdl:message>
  <wsdl:portType name="IGameplayService">
    <wsdl:operation name="SubmitAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/SubmitAnswer" message="tns:IGameplayService_SubmitAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/SubmitAnswerResponse" message="tns:IGameplayService_SubmitAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bank">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/Bank" message="tns:IGameplayService_Bank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/BankResponse" message="tns:IGameplayService_Bank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseLifeline">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/UseLifeline" message="tns:IGameplayService_UseLifeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/UseLifelineResponse" message="tns:IGameplayService_UseLifeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CastVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/CastVote" message="tns:IGameplayService_CastVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/CastVoteResponse" message="tns:IGameplayService_CastVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AckEventSeen">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/AckEventSeen" message="tns:IGameplayService_AckEventSeen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/AckEventSeenResponse" message="tns:IGameplayService_AckEventSeen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/GetQuestions" message="tns:IGameplayService_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/GetQuestionsResponse" message="tns:IGameplayService_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/JoinMatch" message="tns:IGameplayService_JoinMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/JoinMatchResponse" message="tns:IGameplayService_JoinMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/StartMatch" message="tns:IGameplayService_StartMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/StartMatchResponse" message="tns:IGameplayService_StartMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChooseDuelOpponent">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/ChooseDuelOpponent" message="tns:IGameplayService_ChooseDuelOpponent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/ChooseDuelOpponentResponse" message="tns:IGameplayService_ChooseDuelOpponent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnNextQuestion">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnNextQuestion" message="tns:IGameplayService_OnNextQuestion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnAnswerEvaluated">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnAnswerEvaluated" message="tns:IGameplayService_OnAnswerEvaluated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBankUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnBankUpdated" message="tns:IGameplayService_OnBankUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnVotePhaseStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnVotePhaseStarted" message="tns:IGameplayService_OnVotePhaseStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnElimination">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnElimination" message="tns:IGameplayService_OnElimination_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSpecialEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnSpecialEvent" message="tns:IGameplayService_OnSpecialEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCoinFlipResolved">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnCoinFlipResolved" message="tns:IGameplayService_OnCoinFlipResolved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDuelCandidates">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnDuelCandidates" message="tns:IGameplayService_OnDuelCandidates_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchFinished">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnMatchFinished" message="tns:IGameplayService_OnMatchFinished_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLightningChallengeStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnLightningChallengeStarted" message="tns:IGameplayService_OnLightningChallengeStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLightningChallengeQuestion">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnLightningChallengeQuestion" message="tns:IGameplayService_OnLightningChallengeQuestion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLightningChallengeFinished">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnLightningChallengeFinished" message="tns:IGameplayService_OnLightningChallengeFinished_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTurnOrderInitialized">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnTurnOrderInitialized" message="tns:IGameplayService_OnTurnOrderInitialized_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTurnOrderChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnTurnOrderChanged" message="tns:IGameplayService_OnTurnOrderChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IGameplayService" type="tns:IGameplayService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IGameplayService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitAnswer">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/SubmitAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bank">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/Bank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseLifeline">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/UseLifeline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CastVote">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/CastVote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AckEventSeen">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/AckEventSeen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/GetQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/JoinMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/StartMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChooseDuelOpponent">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/ChooseDuelOpponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnNextQuestion">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnNextQuestion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAnswerEvaluated">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnAnswerEvaluated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBankUpdated">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnBankUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnVotePhaseStarted">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnVotePhaseStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnElimination">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnElimination" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSpecialEvent">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnSpecialEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCoinFlipResolved">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnCoinFlipResolved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDuelCandidates">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnDuelCandidates" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchFinished">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnMatchFinished" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLightningChallengeStarted">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnLightningChallengeStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLightningChallengeQuestion">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnLightningChallengeQuestion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLightningChallengeFinished">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnLightningChallengeFinished" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTurnOrderInitialized">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnTurnOrderInitialized" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTurnOrderChanged">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnTurnOrderChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameplayService">
    <wsdl:port name="WSDualHttpBinding_IGameplayService" binding="tns:WSDualHttpBinding_IGameplayService">
      <soap12:address location="http://localhost:8082/gameplay/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8082/gameplay/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>