WPFTheWeakestRival/Connected Services/GameplayService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" />
  <xs:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SubmitAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q1:SubmitAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="SubmitAnswerResult" nillable="true" type="q2:SubmitAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q3:BankRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="BankResult" nillable="true" type="q4:BankResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseLifeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q5:UseLifelineRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseLifelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="UseLifelineResult" nillable="true" type="q6:UseLifelineResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q7:CastVoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="CastVoteResult" nillable="true" type="q8:CastVoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AckEventSeen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="request" nillable="true" type="q9:AckEventSeenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AckEventSeenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="AckEventSeenResult" nillable="true" type="q10:AckEventSeenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNextQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="targetPlayer" nillable="true" type="q12:PlayerSummary" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="question" nillable="true" type="q13:Question" />
        <xs:element minOccurs="0" name="currentChain" type="xs:decimal" />
        <xs:element minOccurs="0" name="banked" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAnswerEvaluated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="player" nillable="true" type="q15:PlayerSummary" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="result" nillable="true" type="q16:AnswerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnBankUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="bank" nillable="true" type="q18:BankState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnVotePhaseStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="timeLimit" type="q20:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnElimination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" minOccurs="0" name="eliminatedPlayer" nillable="true" type="q22:PlayerSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSpecialEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q23:guid" />
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>