WPFTheWeakestRival/Connected Services/GameplayService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesTheWeakestRival.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/gameplay/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SubmitAnswerRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
      <xs:element name="QuestionId" type="ser:guid" />
      <xs:element name="AnswerText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitAnswerRequest" nillable="true" type="tns:SubmitAnswerRequest" />
  <xs:complexType name="SubmitAnswerResponse">
    <xs:sequence>
      <xs:element name="Result" nillable="true" type="tns:AnswerResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitAnswerResponse" nillable="true" type="tns:SubmitAnswerResponse" />
  <xs:complexType name="AnswerResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionId" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChainIncrement" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrentChain" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankedPoints" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerResult" nillable="true" type="tns:AnswerResult" />
  <xs:complexType name="BankRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankRequest" nillable="true" type="tns:BankRequest" />
  <xs:complexType name="BankResponse">
    <xs:sequence>
      <xs:element name="Bank" nillable="true" type="tns:BankState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankResponse" nillable="true" type="tns:BankResponse" />
  <xs:complexType name="BankState">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchId" type="ser:guid" />
      <xs:element minOccurs="0" name="CurrentChain" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankedPoints" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankState" nillable="true" type="tns:BankState" />
  <xs:complexType name="UseLifelineRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
      <xs:element name="Lifeline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPlayerId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UseLifelineRequest" nillable="true" type="tns:UseLifelineRequest" />
  <xs:complexType name="UseLifelineResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Outcome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UseLifelineResponse" nillable="true" type="tns:UseLifelineResponse" />
  <xs:complexType name="CastVoteRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
      <xs:element name="ToPlayerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastVoteRequest" nillable="true" type="tns:CastVoteRequest" />
  <xs:complexType name="CastVoteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accepted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastVoteResponse" nillable="true" type="tns:CastVoteResponse" />
  <xs:complexType name="AckEventSeenRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
      <xs:element name="EventName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AckEventSeenRequest" nillable="true" type="tns:AckEventSeenRequest" />
  <xs:complexType name="AckEventSeenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledged" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AckEventSeenResponse" nillable="true" type="tns:AckEventSeenResponse" />
  <xs:complexType name="GetQuestionsRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="Difficulty" type="xs:unsignedByte" />
      <xs:element name="LocaleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxQuestions" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQuestionsRequest" nillable="true" type="tns:GetQuestionsRequest" />
  <xs:complexType name="GetQuestionsResponse">
    <xs:sequence>
      <xs:element name="Questions" nillable="true" type="tns:ArrayOfQuestionWithAnswersDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQuestionsResponse" nillable="true" type="tns:GetQuestionsResponse" />
  <xs:complexType name="ArrayOfQuestionWithAnswersDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionWithAnswersDto" nillable="true" type="tns:QuestionWithAnswersDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionWithAnswersDto" nillable="true" type="tns:ArrayOfQuestionWithAnswersDto" />
  <xs:complexType name="QuestionWithAnswersDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Difficulty" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LocaleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionWithAnswersDto" nillable="true" type="tns:QuestionWithAnswersDto" />
  <xs:complexType name="ArrayOfAnswerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerDto" nillable="true" type="tns:AnswerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerDto" nillable="true" type="tns:ArrayOfAnswerDto" />
  <xs:complexType name="AnswerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerId" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerDto" nillable="true" type="tns:AnswerDto" />
  <xs:complexType name="GameplayJoinMatchRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameplayJoinMatchRequest" nillable="true" type="tns:GameplayJoinMatchRequest" />
  <xs:complexType name="GameplayJoinMatchResponse">
    <xs:sequence>
      <xs:element name="Accepted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameplayJoinMatchResponse" nillable="true" type="tns:GameplayJoinMatchResponse" />
  <xs:complexType name="GameplayStartMatchRequest">
    <xs:sequence>
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="MatchId" type="ser:guid" />
      <xs:element name="Difficulty" type="xs:unsignedByte" />
      <xs:element name="LocaleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxQuestions" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameplayStartMatchRequest" nillable="true" type="tns:GameplayStartMatchRequest" />
  <xs:complexType name="GameplayStartMatchResponse">
    <xs:sequence>
      <xs:element name="Started" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameplayStartMatchResponse" nillable="true" type="tns:GameplayStartMatchResponse" />
  <xs:complexType name="PlayerSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="tns:AvatarAppearanceDto">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerSummary" nillable="true" type="tns:PlayerSummary" />
  <xs:complexType name="AvatarAppearanceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyColor" type="tns:AvatarBodyColor" />
      <xs:element minOccurs="0" name="PantsColor" type="tns:AvatarPantsColor" />
      <xs:element minOccurs="0" name="HatType" type="tns:AvatarHatType" />
      <xs:element minOccurs="0" name="HatColor" type="tns:AvatarHatColor" />
      <xs:element minOccurs="0" name="FaceType" type="tns:AvatarFaceType" />
      <xs:element minOccurs="0" name="UseProfilePhotoAsFace" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarAppearanceDto" nillable="true" type="tns:AvatarAppearanceDto" />
  <xs:simpleType name="AvatarBodyColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Red" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Purple" />
      <xs:enumeration value="Gray" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarBodyColor" nillable="true" type="tns:AvatarBodyColor" />
  <xs:simpleType name="AvatarPantsColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Black" />
      <xs:enumeration value="DarkGray" />
      <xs:enumeration value="BlueJeans" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarPantsColor" nillable="true" type="tns:AvatarPantsColor" />
  <xs:simpleType name="AvatarHatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Cap" />
      <xs:enumeration value="TopHat" />
      <xs:enumeration value="Beanie" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarHatType" nillable="true" type="tns:AvatarHatType" />
  <xs:simpleType name="AvatarHatColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Red" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarHatColor" nillable="true" type="tns:AvatarHatColor" />
  <xs:simpleType name="AvatarFaceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Angry" />
      <xs:enumeration value="Happy" />
      <xs:enumeration value="Sleepy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvatarFaceType" nillable="true" type="tns:AvatarFaceType" />
</xs:schema>